@page
@model IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Profile"];
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label>@Localizer["Username"]</label>
            <input asp-for="Username" class="form-control" readonly />
        </div>
        <div class="form-group">
            <div class="form-group">
                <label>@Localizer["First name"]</label>
                <input asp-for="FirstName" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label>@Localizer["Last name"]</label>
                <input asp-for="LastName" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label>@Localizer["Group"]</label>
                <input asp-for="Group" class="form-control" readonly />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
