@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["FAQ"];
}
<h2>@Localizer["Frequently asked questions"]</h2>
<hr />

<h4>@Localizer["How to start using PUTS?"]</h4>
<p>@Localizer["Sign up and head to the problem list by clicking on 'Problems' tab in the navigation panel."]</p>
<hr />

<h4>@Localizer["What programming languagues are supported?"]</h4>
<p>@Localizer["Only C/C++."]</p>
<hr />

<h4>@Localizer["What type of input do problems use?"]</h4>
<p>@Localizer["Only standard input is used. You get data like you get input from the console window, for example using cin."]</p>
<hr />

<h4>@Localizer["Do other users see my results?"]</h4>
<p>@Localizer["Only you and administrators can see your results."]</p>
<hr />

<h4>@Localizer["What to do if the compilation failed?"]</h4>
<p>@Localizer["Make sure your program can be compiled on your machine. Check for missing semicolons, programming errors. The error message can help you."]</p>
<hr />

<h4>@Localizer["I get 'Program timed out' error message. What should I do?"]</h4>
<p>@Localizer["This usually occurs when the program is stuck (for example waiting for an input when there is none) or takes too much time to run and needs optimisation."]</p>
<hr />

<h4>@Localizer["Is C++11 supported?"]</h4>
<p>@Localizer["Yes."]</p>
<hr />

<h4>@Localizer["I found a problem/mistake in the system. What should I do?"]</h4>
<p>@Localizer["Report it to bud.benas@gmail.com"]</p>
<hr />

<h4>@Localizer["I have more questions. How can I contact you?"]</h4>
<p>@Localizer["You can send a message to bud.benas@gmail.com"]</p>
<hr />