<environment include="Development">
    <link rel="stylesheet" href="~/css/solve.css" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</environment>

@model WebApplication.Models.SolveViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Solve"];
}

@section Scripts
{
    <script src="~/js/solve.js"></script>
    <script src="~/js/autoTextAreaHeight.js"></script>
}

<div>
    <h2 id="Title">@Model.ProblemID. @Model.Name</h2>
    <hr />

    <div>
        <h4>@Localizer["Solution"]</h4>
        @Html.ValidationMessageFor(m => m.SourceFile, "", new { @class = "text-danger" })

        <form method="POST" enctype="multipart/form-data" asp-controller="Problem" asp-action="Solve">
            <input asp-for="ProblemID" type="hidden">
            <div class="form-group">
                <div class="input-group input-file">

                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-choose" type="button">@Localizer["Choose"]</button>
                    </span>

                    <input type="text" class="form-control" value="@Localizer["Choose a file..."]" />

                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">@Localizer["Upload"]</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <hr />

    <h4>@Html.DisplayNameFor(m => m.Description)</h4>
    @Html.TextAreaFor(m => m.Description, new { @class="readonlyarea", @readonly = "readonly"})
    <hr />

    <h4>@Html.DisplayNameFor(m => m.InputDescription)</h4>
    @Html.TextAreaFor(m => m.InputDescription, new { @class = "readonlyarea", @readonly = "readonly" })
    <hr />

    <h4>@Html.DisplayNameFor(m => m.OutputDescription)</h4>
    @Html.TextAreaFor(m => m.OutputDescription, new { @class = "readonlyarea", @readonly = "readonly" })
    <hr />

    <h4>@Html.DisplayNameFor(m => m.Examples)</h4>
    @for (int i = 0; i < Model.Examples.Count; i++)
    {
        <partial name="Example" for="Examples[i]" />
    }
    <hr />
</div>

<div>
    <a asp-action="List">@Localizer["Back to list"]</a>
</div>